body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(240, 240, 243);
    background-image: linear-gradient(to right, #f0f0f3, #c8c8de);
}

.navbar {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(229, 238, 238);
    padding: 10px 20px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
}


.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 16px;
    padding: 0px;
    text-align: center;
}

.navbar li{
    margin: 0;
}

a{
    color:darkslateblue;
    text-decoration: none;
    transition: background-color 1.0s ease;
}

a:hover{
    color:cadetblue;
}

a:active{
    color: slategray;
}

footer{
    font-size: 8pt;
    text-align: right;
}

.profile:hover{
    transform: scale(0.90);
    opacity: 75%;
}

@media(max-width: 600px){
    .navbar ul{
        flex-direction: row;
    }
    .footer{
        text-align: right;
    }
}